# Data Science Pandas

## Tasks Today:

1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Tabular Data Structures <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - from_dict() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) <b>In-Class Exercise #1</b> <br>
  &nbsp;&nbsp;&nbsp;&nbsp; d) Built-In Methods <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - head() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - tail() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shape <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - describe() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - sort_values() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - keys() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - .columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Accessing Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Indexing <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.loc <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.iloc <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) <b>In-Class Exercise #2</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Filtration <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Conditionals <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subsetting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Column Transformations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Generating a New Column w/Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - User Defined Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Aggregations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Type of groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - mean() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() w/Multiple Columns <br>

## Pandas <br>

<p>Pandas is a flexible data analysis library built on top of NumPy that is excellent for working with tabular data. It is currently the de-facto standard for Python-based data analysis, and fluency in Pandas will do wonders for your productivity and frankly your resume. It is one of the fastest ways of getting from zero to answer in existence. </p>

<ul>
    <li>Pandas is a Python module, written in C. The Pandas module is a high performance, highly efficient, and high level data analysis library. It allows us to work with large sets of data called dataframes.</li>
    <li>Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)</li>
    <li>Dataframe = Spreadsheet (has column headers, index, etc.)</li>
</ul>

### Importing

In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\jdece\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jdece\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\jdece\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\jdece\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\jdece\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [9]:
import numpy as np
import pandas as pd

# always use pd, standard for data science

### Tabular data structures <br>
<p>The central object of study in Pandas is the DataFrame, which is a tabular data structure with rows and columns like an excel spreadsheet. The first point of discussion is the creation of dataframes both from native Python dictionaries, and text files through the Pandas I/O system.</p>

##### from_dict()

<p>Let's convert our not-so-useful-for-analysis dict into a Pandas dataframe. We can use the from_dict function to do this easily using Pandas:</p>

##### read_csv()

<p>Pandas also provides a function to read a csv into a DataFrame. Let's take a look at this using the Marathon data from yesterday's class</p>

In [10]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

### In-Class Exercise #1 - Read in the Spotify CSV<br>
<p>Use the pandas read_csv() method to read in the stats about the top 100 streamed songs on spotify.</p>

### Built-In Methods <br>

<p>These are methods that are frequently used when using Pandas to make your life easier. It is possible to spend a whole week simply exploring the built-in functions supported by DataFrames in Pandas. Here however, we will simply highlight a few ones that might be useful, to give you an idea of what's possible out of the box with Pandas:</p>

##### head()

In [11]:
# DataFrame.head()  -- Accepts integer parameter(gives access to more rows)

##### tail()

In [12]:
# DataFrame.tail()  -- Accepts integer parameter(gives access to more rows)

##### shape

In [13]:
# The dataframe has a shape property, just like a NumPy matrix. 
# print(df.shape) -- DataFrame.shape -- No Parameter

##### keys()

In [14]:
# Access all of the keys/columns of the dataframe
# Dataframe.keys()

##### describe() <br>
<p>Probably one of the most important methods to understand...</p>

In [15]:
# Collect summary statistics in one line
# DataFrame.describe() -- Accepts parameters (include, exclude)

##### sort_values()

In [16]:
# Sort based on many labels, with left-to-right priority
# sorted_data = data.sort_values('ages').reset_index()

# DataFrame.sort_values('key')

##### .columns

In [17]:
# will show all cols headers
# DataFrame.columns is an attribute

### Accessing Data <br>

##### Indexing

<p>You can directly select a column of a dataframe just like you would a dict. The result is a Pandas 'Series' object.</p>

#### Accessing Multiple Columns

##### df.loc

<p>Along the horizontal dimension, rows of Pandas DataFrames are Row objects. You will notice there is a third column present in the DataFrame - this is the $\textit{index}$. It is automatically generated as a row number, but can be reassigned to a column of your choice using the DataFrame.set_index(colname) method. We can use it to access particular Pandas $\textit{rows}$, which are also Series objects:</p>

##### df.iloc
<p>df.iloc is purely integer-location based indexing for selection by position.</p>

### In-Class Exercise #2 - Most Upbeat Songs in Top 100 <br>
<p>Return back a dataframe showing the Title, Artist, Year and Beats Per Minute for the 10 most upbeat songs (as determined by BPM)</p>

### Filtration <br>
<p>Let's look at how to filter dataframes for rows that fulfill a specific conditon.</p>

##### Conditionals

In [18]:
# Conditional boolean dataframe

##### Subsetting

In [19]:
# exactly like numpy

### Column Transformations <br>
<p>Rarely, if ever, will the columns in the original raw dataframe read from CSV or database table be the ones you actually need for your analysis. You will spend lots of time constantly transforming columns or groups of columns using general computational operations to produce new ones that are functions of the old ones. Pandas has full support for this: Consider the following fake dataframe containing member since year and the yearly dues for member:</p>

##### Generating a New Column w/Data

##### User Defined Function

<p>If what you want to do to a column that can't be represented by simple mathematical operations, you can write your own $\textit{user defined function}$ with the full customizability available in Python and any external Python packages, then map it directly onto a column or row. Let's create a function that will return the loyalty status of a member based on their customer tenure. We will then apply that function to each row in our dataframe using the .apply() method:</p>

### In-Class Exercise #3 - Create Your Own UDF <br>
<p>Using the Spotify data, create your own UDF which creates a new column called 'Banger' and puts every song with either an energy over 65 or danceability over 70 with a result of 'Yes' in the column if it is and 'No' if it is not.</p>

### Aggregations <br>
<p>The raw data plus some transformations is generally only half the story. Your objective is to extract actual insights and actionable conclusions from the data, and that means reducing it from potentially billions of rows to some summary statistics via aggregation functions.</p>

##### groupby() <br>
<p>The .groupby() function is in some ways a 'master' aggregation.</p> 

<p>Data tables will usually reserve one column as a primary key - that is, a column for which each row has a unique value. This is to facilitate access to the exact rows of a data table that a user wants to view. The other columns will often have repeated values, such as the age groups in the above examples. We can use these columns to explore the data using the Pandas API:</p>

##### Type of groupby()

<p>The result is a new dataframe, the columns of which all contain the counts of the grouped field. Notice the type of a grouped dataframe:</p>

<p>This is because simply grouping data doesn't quite make sense without an aggregation function like count() to pair with. In this case, we're counting occurances of the grouped field, but that's not all we can do. We can take averages, standard deviations, mins, maxes and much more! Let's see how this works a bit more:</p>

##### mean()

##### groupby() w/Multiple Columns

<p>We end up with the average age of the groups in the last column, the average tenure in the tenure column, and so on and so forth. You can even split the groups more finely by passing a list of columns to group by:</p>

### Homework Excersise #1 - White Sox Data<br>
<p>Return a dataframe showing the White Sox qualified hitters* in order from best to worst XBHA**.</p>
<p>*A hitter must have at least 100 At Bats (AB's) to qualify</p>
<p>** XBHA is calculated as the number of extra base hits (2B, 3B, HR) divided by the number of At Bats (AB's)</p>

In [20]:
import pandas as pd
import numpy as np

In [23]:
sox = pd.read_csv('whitesox_2021_hitting.csv')
sox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      24 non-null     int64
 1   Pos     24 non-null     object
 2   Name    24 non-null     object
 3   Age     24 non-null     int64
 4   G       24 non-null     int64
 5   PA      24 non-null     int64
 6   AB      24 non-null     int64
 7   R       24 non-null     int64
 8   H       24 non-null     int64
 9   2B      24 non-null     int64
 10  3B      24 non-null     int64
 11  HR      24 non-null     int64
 12  RBI     24 non-null     int64
 13  SB      24 non-null     int64
 14  CS      24 non-null     int64
 15  BB      24 non-null     int64
 16  SO      24 non-null     int64
 17  BA      24 non-null     float64
 18  OBP     24 non-null     float64
 19  SLG     24 non-null     float64
 20  OPS     24 non-null     float64
 21  OPS+    24 non-null     int64
 22  TB      24 non-null     int64
 23  GDP     24 non-null     int64
 24  HBP     24 non-null     int64
 25  SH      24 non-null     int64
 26  SF      24 non-null     int64
 27  IBB     24 non-null     int64
dtypes: float64(4), int64(22), object(2)
memory usage: 5.4+ KB

In [25]:
sox['2B'] + sox['AB'] + sox['HR']

0     311
1     626
2     201
3     573
4     567
5     454
6     310
7     202
8     256
9     442
10    253
11    233
12    212
13    212
14    171
15    179
16    139
17    137
18    121
19    101
20     42
21     35
22     10
23     10
dtype: int64

In [28]:
sox['XBH'] = sox['2B'] + sox['AB'] + sox['HR']
sox['XBHA'] = sox['XBH'] / sox['AB']
qualified_hitters = sox[sox['AB'] > 100]
sorted_qualified_hitters = qualified_hitters.sort_values('XBHA', ascending=False)
sorted_qualified_hitters[['Name', 'XBHA', 'XBH', 'AB']]

               Name      XBHA  XBH   AB
16       Adam Engel  1.130081  139  123
6       Luis Robert  1.127273  310  275
15     Gavin Sheets  1.118750  179  160
0   Yasmani Grandal  1.114695  311  279
1        José Abreu  1.106007  626  566
11     Eloy Jimenez  1.093897  233  213
4      Yoan Moncada  1.090385  567  520
5     Andrew Vaughn  1.088729  454  417
3      Tim Anderson  1.087287  573  527
12     Zack Collins  1.087179  212  195
17   Billy Hamilton  1.078740  137  127
10    Brian Goodwin  1.076596  253  235
18        Jake Lamb  1.070796  121  113
7        Adam Eaton  1.068783  202  189
8   Yermin Mercedes  1.066667  256  240
9      Leury Garcia  1.065060  442  415
13    Nick Madrigal  1.060000  212  200
14    Danny Mendick  1.042683  171  164
2   Cesar Hernandez  1.036082  201  194